[server]
port_rpc_admin_local
port_rpc
port_ws_admin_local
port_ws_public
port_peer
# ssl_key = /etc/ssl/private/server.key
# ssl_cert = /etc/ssl/certs/server.crt

[port_rpc_admin_local]
port = 5005
ip = 127.0.0.1
admin = 127.0.0.1
protocol = http

[port_ws_admin_local]
port = 6006
ip = 127.0.0.1
admin = 127.0.0.1
protocol = ws

[port_ws_public]
port = 80
ip = 0.0.0.0
protocol = ws

[port_peer]
port = 51235
ip = 0.0.0.0
protocol = peer

[port_rpc]
port = 51234
ip = 0.0.0.0
admin = 127.0.0.1
protocol = https, http

[node_size]
small
# tiny
# small
# medium
# large
# huge

[node_db]
type=NuDB
path=/var/lib/rippled/db/nudb
advisory_delete=0

# How many ledgers do we want to keep (history)?
# Integer value that defines the number of ledgers
# between online deletion events
online_delete=256

[ledger_history]
# How many ledgers do we want to keep (history)?
# Integer value (ledger count)
# or (if you have lots of TB SSD storage): 'full'
256

[database_path]
/var/lib/rippled/db

[debug_logfile]
/var/log/rippled/debug.log

[sntp_servers]
time.windows.com
time.apple.com
time.nist.gov
pool.ntp.org

[ips_fixed]
validator_00 51235
validator_01 51235
validator_03 51235
validator_04 51235
validator_05 51235
validator_06 51235

[validators_file]
validators.txt

[rpc_startup]
{ "command": "log_level", "severity": "warning" }
# severity (order: lots of information .. only errors)
# debug
# info
# warn
# error
# fatal

[ssl_verify]
0

[validator_token]
'eyJtYW5pZmVzdCI6IkpBQUFBQUZ4SWUxWHJ1dzM0Q1NZZWZ2Z2xqMzRCaHN2ZExUblNqSGllYktFZUpkUFFrd1Bkbk1oQTgvVG1kWHpiNFpSSXN5RXdnc1BJU1JHQ3hOYnlYTW9ncjhkNk5CZFhkMjJka1l3UkFJZ004Y1RZTXBxYld2cVcvUkxaaUg1bko1VnByRFhkR1hFMHlER0pWOTRMd0FDSUZEVGxIYm95NTBJZVNzVkg0Wll1bThFVElzRFo5Q2p6RkZVeDZnYU9tZ1hjQkpBdkh5RmFPQTM4WHAxenRHQis5a0lRTmhFRXpkaittVng1VnRrc2g4Z0w2S2xiTGp3UXNXdEFXK2I5ZmZFVGVUWkFLc3NtcHg0K29jUEpOU1lGWXdGQnc9PSIsInZhbGlkYXRpb25fc2VjcmV0X2tleSI6IkFERjIyRDhFRkNCRUM2RDYwMzRDMDhFN0Q0Nzg4MUY5RjA5QURCQzVEREM4QjhDMTAwQjUzQUY4NEUxNDI3OUYifQ=='
